[Unit]
Description=GPS to MQTT Service
After=network.target

[Service]
ExecStart=/home/pi/gps-venv/bin/python /home/pi/gps2mqtt.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target